*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* max-width: 1470px; */
    
}
:root{
    --primary-color:#23A6F0;
    --light-text-color:#FFFFFF;
    --text-color:#252B42;
    --second-text-color:#737373;
    --muted-color:#BDBDBD;
    --danger-color:#E74040;
    --light-gray-1:#FAFAFA;
    --hover-color:#2A7CC7;
    --enconde:Encode Sans;
    --monserat:Montserrat;

}
html{
        margin: 0 auto;
}
/* !header header header header header header header header header header header  */
.navDark{
    width: 100%;
    height: 58px;
    padding-left: 34px;
    padding-right: 34px;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.navDarkUl{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
    color: var(--light-text-color);
}
.navDarkLi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.navDarkLi h6{
    font-family:var(--enconde);
    font-size: 14px;
    font-weight: 700;
}
.navDark h6{
    font-family: var(--enconde);
    font-size: 14px;
    color:var(--light-text-color)
}
.socialUl{
    width: 200px;
    display: flex;
    justify-content:space-between;
    list-style: none;
    color: var(--light-text-color);

}
.socialUl h6{
    font-family: var(--enconde);
    font-size: 14px;
    color:var(--light-text-color)
    
}
.navLight{
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    background-color: var(--light-text-color);
    justify-content: space-between;
    padding-left: 34px;
    padding-right: 34px;
    position: sticky;
    top: 58px;

}
.navLight a h3{
    color: var(--text-color);
    font-family: var(--monserat);
    font-size: 24px;
    font-weight: 700;
}
.collapse{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collapseUl{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
}
.collapseUl li{
    display: flex;
    align-items: center;
    font-family: var(--monserat);

}
.collapseUl li a{
    font-size: 14px;
    color: var(--second-text-color);
    font-family: var(--enconde);
}
.collapseUl li a:focus{
    color: var(--text-color);
}


.collapseSecondUl{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
}
.collapseSecondUl li{
    display: flex;
    align-items: center;
    font-family: var(--monserat);
  

}

.collapseSecondUl li a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color:var(--primary-color);
    font-family: var(--enconde);

} 
.collapseSecondUl :nth-child(1) a{
    font-weight: 700;
}

/* !introdaction  introdaction intro intro intro intro intro intro intro intro  */

.bg{
    width: 100%;
    height: 853px;
    background: url(./Images/main.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    z-index: -1;
}
.main{
    width: 100%;
    max-width: 1470px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;

}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 370px;
}
.intro h5{
    font-size: 17px;
    font-weight: 700;
    font-family: var(--monserat);
    color: var(--light-text-color);
}
.intro h1{
    font-family: var(--enconde);
    font-size: 70px;
    font-weight: 900;
    color: var(--light-text-color);
}
.intro h4{
    font-family: var(--enconde);
    font-size: 20px;
    font-weight: 700;
    color: var(--light-text-color);

}
.intro button {
    width: 135px;
    height: 52px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--light-text-color);
    border-radius: 37px;
    color: var(--light-text-color);
}

/* !cards cards cards cards cards cards cards cards cards cards cards cards cards */
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.cards :nth-child(1){
    background:url(./Images/card1.png);
}
.cards :nth-child(2){
    background:url(./Images/card2.png);
}
.cards :nth-child(3){
    background:url(./Images/card3.png);
}
.cards a{
    width: 328px;
    height: 210px;
    text-align: center;
}
  /* !filter  filter filter filter filter filter filter filter filter filter filter filter */
.filter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    flex-wrap: wrap;
}
.ski{
    background: url(./Images/filter1.png);
  
}
.filter h4{
    font-family: var(--enconde);
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 20px;
}
.filter h6{
    font-family: var(--monserat);
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
}
.sport{
    background: url(Images/filter2.png);
}
.urban{
    background: url(Images/filter3.png);
}
.exercise{
    background: url(Images/filter5.png);
}
.filter a{
    width: 331px;
    height: 300px;
    margin-top: 20px;
    color: var(--light-text-color);
}

.swimming{
    background: url(Images/filter4.png);
    width: 700px !important;
}
/* !  products products products products products products products products products products */
.products{
    margin-top: 150px;
    text-align: center;
    font-family: var(--enconde);
}
.products h2{
    font-size: 20px;
    font-weight: 700;
    color: var(--second-text-color);
}
.products h3{
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
}
.products p{
    color: var(--second-text-color);
    font-size: 16px;
    margin-top: 20px;

}
.products-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 239px;
    height: 350px;
}
.card h5{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 700;
}
.card a{
    color: var(--second-text-color);
    font-size: 14px;
}
.card :nth-child(4){
    color: var(--muted-color);
    font-size: 14px;
    font-weight: 700;
}
.card :nth-child(4) span{
    color: var(--primary-color);
}
 /* !  services services services services services services services services services services services services  */
.services{
    margin-top: 150px;
    text-align: center;
    font-family: var(--enconde);
}

.services h3{
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
}
.services p{
    color: var(--second-text-color);
    font-size: 16px;
    margin-top: 20px;
}
.services-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.services-cards div{
    display: flex;
    padding: 35px 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.services-cards div h3{
    font-family: var(--monserat);
    font-size: 24px;
    font-weight: 700;
}
.services-cards div p{
    font-size: 16px;
    line-height: 22px; 

}
  /* ! posts posts posts posts posts posts posts posts posts posts posts posts posts posts posts posts     */
.posts{
    margin-top: 150px;
    text-align: center;
}
.posts h3{
    font-family: var(--enconde);
    font-size: 40px;
    font-weight: 800;
}
.content-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.content-cards div{
    width: 348px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);

}
.content-cards div .card-img{
    width: 100%;
    height: 300px;

}

.content-cards div .card-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 20px 25px;
}
.content-cards :nth-child(1) .card-img{
    background: url(./Images/card4.png);
    background-repeat: no-repeat;
}

.content-cards :nth-child(2) .card-img{
    background: url(./Images/card5.png);
    background-repeat: no-repeat;
}
.content-cards :nth-child(3) .card-img{
    background: url(./Images/card4.png);
    background-repeat: no-repeat;
}
.content-cards div .card-img button{
    width: 58px;
    height: 24px;
    border-radius: 5px;
    background-color: var(--danger-color);
    border: none;
    color: var(--light-text-color);
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;

}
.content-cards div ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.content-cards .comments{
    width: 100%;

}
.content-cards div ul li {
    font-family: var(--monserat);
    font-size: 12px;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
    gap: 10px;
}
.content-cards div ul a{
    font-family: var(--monserat);
    font-size: 12px;
    color: var(--second-text-color);
}
.content-cards div ul a:focus{
    color: var(--primary-color);
}
.content-cards div h4{
    font-family: var(--monserat);
    font-size: 20px;
}
.content-cards div p{
    font-family: var(--monserat);
    font-size: 14px;
    color: var(--second-text-color);
}
.content-cards .card-text button{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff00;
    color: var(--second-text-color);
    border: none;
}
/* ! clientSays clientSays clientSays clientSays clientSays clientSays clientSays clientSays clientSays clientSays clientSays */
.clientSays{
    width: 100%;
    margin-top: 100px;
    padding:100px 200px;
    background: var(--light-gray-1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;


}
.clientSays h2{
    font-family: var(--monserat);
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
}
.clientSays p{
    font-family: var(--monserat);
    font-size: 14px;
    font-style: normal;
    color: var(--second-text-color);
}
.client-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 320px;
}
.container-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    height: 320px;
    margin-top: 30px;
}
.container-person{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.container-row h6{
    font-family: var(--enconde);
    font-size: 14px;
    color: var(--second-text-color);
    font-weight: 700;
}
.container-name a{
    font-family: var(--enconde);
    color: var(--primary-color);
    font-size: 14px;
}
.container-name h6{
    font-family: var(--monserat);
    font-size: 12px;
}

/*! map, contact,location area map, contact,location area map, contact,location area map, contact,location area map, contact,location area map, contact,location area */

.map-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.map-text{
    width: 500px;
    height: 500px;
    border-left: 3px solid var(--light-gray-1);
    padding: 10px 30px;
}
.map-text h3{
    font-family: var(--enconde);
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
}
.map-text p{
    font-family:var(--enconde);
    color: var(--second-text-color);
    font-size: 16px;
    font-weight: 400;
}
.map-intro{
    border-bottom: 3px solid var(--light-gray-1);
    display: grid;
    gap: 15px;
    padding-bottom: 25px;
}
.map-contact-intro{
    display: grid;
    gap: 15px;
    padding: 25px 0px;

}
.map-contact{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

}

.contact-card{
    width: 49%;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

.contact-card .card-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--danger-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-card h6{
    font-family: var(--monserat);
    color: var(--text-color);
    font-size: 14px;
}
.contact-card h6 span{
    font-family: var(--monserat);
    color: var(--text-color);
    font-size: 10px;
}

/*! subscribe area subscribe area subscribe area subscribe area subscribe area */

.subscribe{
    width: 100%;
    margin-top: 100px;
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--hover-color);
}
.subscribe div{
    display: grid;
    gap: 20px;
}
.subscribe h2{
    color: var(--light-text-color);
    font-family:var(--enconde);
    font-size: 40px;
    font-weight: 800;
}
.subscribe p{
    color: var(--light-text-color, );
    font-family:var(--enconde);
    font-size: 16px;
    font-weight: 400;
}
.subscribe button {
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--enconde);
    color: var(--primary-color);
}

/*! footer footer footer footer footer footer footer footer footer footer footer footer  */

footer{
    width: 100%;
    padding: 100px 200px;
}
.footer-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--muted-color);
    padding-bottom: 50px;
}
.footer-intro a{
    color: var(--text-color);
    font-family: var(--monserat);
    font-size: 24px;
    font-weight: 700;
}
.footer-intro .socials{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.footer-info ul {
 

    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.footer-info ul h5{
    color: var(--text-color);
    font-family: var(--monserat);
    font-size: 16px;
    font-weight: 700;
}

.footer-info ul li a{
    color: var(--second-text-color);
    font-family:var(--enconde);
    font-size: 14px;
    font-weight: 400;
}
.mail-li{
    display: flex;
}
.mail-li input{
    display: flex;
    width: 321px;
    padding: 15px 224px 15px 20px;
    border: none;
    outline: none;
    border: 1px solid #E6E6E6;

}
::placeholder{
    color: var(--second-text-color);
    font-family: var(--monserat);
    font-size: 14px;
    font-weight: 400;
}

.mail-li button {
    width: 117px;
    height: 58px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    background: var(--primary-color, #23A6F0);
    color: var(--light-text-color, #FFF);
    font-family: var(--monserat);
    font-size: 14px;
    font-weight: 400;
}
/* !end end end end end end end end end end end end end  */

.end{
    width: 100%;
    padding: 20px 200px;
    background-color: var(--light-gray-1);
}
.end a{
    color: var(--second-text-color);
    font-family: var(--monserat);
    font-size: 14px;
    font-weight: 700;
}

